<!DOCTYPE html>
<html>
        <title>
                {% block title %}DASHBOARD{% endblock %}
            </title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.w3-sidebar a {font-family: "Roboto", sans-serif}
body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}
</style>
<body class="w3-content w3-light-grey" style="max-width:1200px">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-bar-block w3-light-grey w3-collapse w3-top" style="z-index:3;width:250px" id="mySidebar">
  
  <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
    <a href="{% url 'schedule:dashboard' %}" class=" active w3-bar-item w3-button">Dashboard</a>
    <a href="{% url 'schedule:add-schedule' %}" class="w3-bar-item w3-button">Add Schedule</a>
    <a href="{% url 'Auth:logout' %}" class="w3-bar-item w3-button">Logout</a>
   
</nav>

<!-- Top menu on small screens -->
<header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
  <div class="w3-bar-item w3-padding-24 w3-wide">LOGO</div>
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-24 w3-right" onclick="w3_open()"><i class="fa fa-bars"></i></a>
</header>



<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:250px">

  
  <div class="w3-hide-large" style="margin-top:83px"></div>
  
  <div class="w3-container w3-black w3-padding-32">
        {% if messages %}
        
            {% for message in messages %}
                <b>Message -> {{ message }} </b>
            {% endfor %}
        
<br><br>

        {% endif %}
        {% block body %}
        {% endblock %}
    
  </div>
  
</div>


<script>
// Accordion 
function myAccFunc() {
  var x = document.getElementById("demoAcc");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}

// Click on the "Jeans" link on page load to open the accordion for demo purposes
document.getElementById("myBtn").click();


// Open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}
</script>

</body>
</html>

